.container{
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    height: 1175px;
    align-items: center;
}

.logo{
    margin-top: 50px;
}


.main{
    border: 5px solid yellow;
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.footer{
    border: 5px solid green;
    height: 200px;
    width: 100%;
    margin-top: 300px;
}

.button{
    width: 385px
}

